---
layout: default
title: members
categories: 
 - members
---

{% for member in site.categories.members reversed%}
	{% cycle 'add row' : '<div class="row">', '' %}
    	<div class="col-md-6 box">
    		<a href="{{ member.url }}">
    		<div class="media paper">
				<div class="media-left pull-left">
					{% if member.image %} 
					<img src="{{ member.image }}" class="media-object" style="width:120px" alt="{{ member.title }}">
					{% else %}
					<img src="https://ui-avatars.com/api/?name={{ member.title }}" class="media-object" style="width:120px" alt="{{ member.title }}"/>
					{% endif %}
				</div>
				<div class="media-body">
					<h1 class="media-heading">{{ member.title }}</h1>
					<p class="details">
						{{ member.position }}
						{% if member.github %}
						<li>
							{% include icon-github.html username=member.github %}
						</li>
						{% endif %}
						
						{% if member.twitter %}
          				<li>
				            {% include icon-twitter.html username=member.twitter %}
						</li>
						{% endif %}
					</p>
				</div>
			</div>
    		</a>
    	</div>
    {% cycle 'end row' : '', '</div>' %}
{% endfor %}
{% cycle 'end row' : '', '</div>' %}
