---
layout: default
---

<!-- <div class="home"> -->

  {{ content }}

  <h1 class="page-heading">Latest posts</h1>
  {% for post in site.categories.blog limit:5 %}
  {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
    <a href="{{ post.url | relative_url }}">
	  <div class="media home">
		<div class="media-body">
        <h1 class="media-heading">
          {{ post.title | escape }}
        </h1>
		<span class="post-meta">{{ post.date | date: date_format }}</span>
		</div>
      </div>
    </a>
  {% endfor %}
  
  <h1 class="page-heading">Latest papers</h1>
  
<!--   <ul class="post-list"> -->
    {% for paper in site.categories.papers limit:5 %}
<!--       <li> -->
        {% assign date_format = site.minima.date_format | default: "%-d %b %Y" %}
<!--         <span class="post-meta">{{ paper.date | date: date_format }}</span> -->
		<a href="{{ paper.url | relative_url }}">
		<div class="media home">
		<div class="media-body">
        <h1 class="media-heading">
          <!-- <a class="post-link" href="{{ paper.url | relative_url }}">{{ paper.title | escape }}</a> -->
          {{ paper.title | escape }}
        </h1>
        <p class="details">
			{% if paper.authors.size == 1 %}
			{{ paper.authors[0] }}.
			{% elsif paper.authors.size == 2 %}
			{{ paper.authors[0] }} & {{ paper.authors[1] }}.
			{% else %}
			{{ paper.authors[0] }} et al.
			{% endif %}
			{{ paper.year }}. {{ paper.journal }}.
		</p>
		</div>
		</div>
		</a>
<!--       </li> -->
    {% endfor %}
<!--   </ul> -->

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

<!-- </div> -->